.aqicomp{
    background-color: rgb(45,45,45,.5);
    box-shadow: 1px 1px 10px white;
    border-radius: 20px;
    height: 150px;
    align-items: center;
    margin-top: 28px;
}
.aqihead{
    padding-top: 20px;
}

.aqi_input{
    background-color: rgb(30,30,30);
    margin-left: 10px;
    border: rgb(45,45,45,.5) solid;
    border-radius: 10px;
    padding: 5px;
    color: white; 
}

.aqi-value{
    margin-right: 30px;
}