.dashboard-progress{
    display: flex;
    height: 40vh;
    margin-top: -80px;
}
.dashboard-main{
    background-color: black;
    height: 120vh;
}
.dashboard-charts{
    display: flex;
    
}
.dashboard-title{
    width: 1000px;
    color: #ddd;
    font-size: 3em;
    margin-left: 150px;
}
.dashboard-linechart,.dashboard-barchart{
    margin-left: 5vw;
    margin-right: 5vw;
    width: 40vw;
    height: 600px;
    border: 2px solid white;
    background-color: white;
    border-radius: 20px;
    box-shadow: 3px 3px 20px white;
}

.dashboard-barchart svg, .dashboard-linechart svg {
    background-color: white;
}