.header-one {

    color: #fff;
    /* Light text color */
    padding: 1rem;
    /* Add padding to the header */
}

.one {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    height: 35px;
    backdrop-filter: blur(5px);
}



.ecocalc {
    font-size: 4rem;
    font-weight: 400;
}



.one ul li a:hover {
    text-decoration: none;
    /* Underline links on hover */
}

.one{
    display: flex;    align-items: center;
    justify-content: space-between;
}
.one ul {
    display: flex;
}
.one ul li {
    list-style:none;
    display:inline-block;
    margin:0 20px;
    position : relative;
    
}
.one ul li a{
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 1000;
    margin: 1rem;
    color:#ffff;
    text-transform:uppercase;

}
.one ul li::after{
    content:'';
    height: 3.25px;
    width: 0%;
    background:green;
    position: absolute;
    left:0;
    bottom: -10px;;
    transition: 0.8s;
}
.one ul li:hover::after{
    width:100%;
    
    
}
